@page
@model Volo.Abp.SecurityHeaderTest.Web.Pages.TestModal

@{
    Layout = null;
}

<abp-modal>
    <abp-modal-header title="Test"></abp-modal-header>
    <abp-modal-body>
        <h1>Test</h1>
    </abp-modal-body>
</abp-modal>


